.body{
    background-color: white;
}
.container{
    display: flex;
}
h1{
    margin-left: 2em;
    border-bottom: 6px solid gray;
    margin-right: 5em;
}
nav{
    background-color: black;
    padding-bottom: 2em;
}
.bottom p{
text-align: left;
}